<!DOCTYPE html>
<html>
<head>
  <title>AtlanticaOnlineCraftCalculatorEngine</title>
  <%= stylesheet_link_tag    "atlantica_online_craft_calculator_engine/application", :media => "all" %>
  <%= javascript_include_tag "atlantica_online_craft_calculator_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
